<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=false"/>
	<base href="/mn/">
	<link rel="stylesheet" href="styles/mn.css"></link>
${mainCss}
	<link rel="stylesheet" href="styles/button.css"></link>
	<link rel="stylesheet" href="styles/key-picker.css"></link>
	<link rel="stylesheet" href="styles/chord-input.css"></link>
	<link rel="stylesheet" href="styles/scale-input.css"></link>
	<link rel="stylesheet" href="styles/music-embed-dialog.css"></link>
</head>
<body class="mn light">
	<div id="main-content" class="main-content"></div>
${codeVariables}
${scripts}
</body>
</html>
